@font-face {
	font-family:"BigMisterC";
	src: url("font/bigmcn.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
	}

/* Configuraciones generales body section header footer y otras generales*/

body{
	background-color: #fcfdfd;
}

header{
	padding: 10px;
	text-align: center;
	color: #6eac2c;
	transform: rotate(-2deg) traslateX(0px) scale(1.5);
	-webkit-transform:rotate(-2deg) translateX(0px) scale(1.5);
	-moz-transform:rotate(-2deg) translateX(0px) scale(1.5);
}

header>h2{
	font-size: 16pt;
}

#fin{
	padding: 10px;
	text-align: center;
	color: #0078ae;
	transform: rotate(3deg) traslateX(0px) scale(1.5);
	-webkit-transform:rotate(3eg) translateX(0px) scale(1.5);
	-moz-transform:rotate(3deg) translateX(0px) scale(1.5);	
}

body{
	font-family: Helvetica, Arial,  sans-serif;
	font-size: 10pt;
	color: #000;
}

p{
	text-align: justify;
}

table{
	/*width: 600px;*/
	text-align: center;
	margin: auto;
}

td{
	height: 25px;
}
/* configuraciones especificas */
#description{
	width: 500px;
	}

a{
	font-size: 8pt !important; 
}

#activity{
	width: 700px;
	margin: 0 auto;
	padding: 5px;
	border-color: #a6c9e2;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 15px 3px 15px;
	-moz-border-radius: 3px 15px 3px 15px;
	-webkit-border-radius: 3px 15px 3px 15px;
	box-shadow: 5px 5px 4px 0px rgba(153,153,153,180);

}

#evaluacion{
	text-align: right;
}

.goodAsk{
	margin: 10px;
	padding: 2px;
	color: #915608;
	font-style:normal;
	font-weight:bolder;
	font-size: 8pt;
	text-align: center;
	background-color: #f8da4e;
	border-color: #fcd113;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}

.badAsk{
	margin: 2px;
	padding: 2px;
	color: #ffffff;
	font-style:normal;
	font-weight:bolder;
	font-size: 8pt;
	text-align: center;
	background-color: #e14f1c;
	border-color: #cd0a0a;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}

.goodAskT{
	font-family:"BigMisterC";
	height: 60px !important;
	width: 150px !important;
	color: #915608;
	font-style:normal;
	font-weight:bolder;
	font-size: 8pt;
	text-align: center;
	background-color: #f8da4e;
}

.badAskT{
	font-family:"BigMisterC";
	height: 60px !important;
	width: 150px !important;
	color: #ffffff;
	font-style:normal;
	font-weight:bolder;
	font-size: 8pt;
	text-align: center;
	background-color: #e14f1c;
}

.ask{
	width: 300px !important;
	height: 20px;
	display: none;
}

.askt{
	height: 60px !important;
	width: 150px !important;

}

#fillTable{
	padding: 5px;
	margin: 5px auto;
	background-color: #d8e7f3;
	border-color: #4297d7;
	border-style: solid;
	border-width: 1px;
	border-spacing: 0px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;	
}

.question{
	margin: 5px;
	width: 150px !important;
}

.question:hover{
	background-color: #e78f08;
}

.askt:hover{
	background-color: #acdd4a;
}

#Headers{
	color: #e78f08;
	font-weight: bold;
	font-size: 16pt;
	padding: 5px;
	margin: 5px;
	text-align: center;
}

.drag{
	padding: 10px;
	margin: 10px;
	padding: 5px;
	background-color: #D8E7F3;
	border-color: #a6c9e2;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	box-shadow: 5px 5px 4px 0px rgba(153,153,153,180);
	width: auto;
	height: auto;	
	float: 	left;
}

pre{
	margin: 0px;
	display: inline;
}

.niv1{
	margin: 0px;
	padding: 0px 0px 0px 20px;	
}

.niv2{
	margin: 0px;
	padding: 0px 0px 0px 40px;	
}

.niv3{
	margin: 0px;
	padding: 0px 0px 0px 60px;	
}

#code{
	font-family: "Courier New" !important;
	font-style: normal;
	padding: 10px;
}

#code pre{
	font-family: "Courier New" !important;
	font-style: normal;	
}
