<!--
/**
 *  RELOAD TOOLS
 *
 *  Copyright (c) 2003 Oleg Liber, Bill Olivier, Phillip Beauvoir
 *
 *  Permission is hereby granted, free of charge, to any person obtaining a copy
 *  of this software and associated documentation files (the "Software"), to deal
 *  in the Software without restriction, including without limitation the rights
 *  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 *  copies of the Software, and to permit persons to whom the Software is
 *  furnished to do so, subject to the following conditions:
 *
 *  The above copyright notice and this permission notice shall be included in
 *  all copies or substantial portions of the Software.
 *
 *  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 *  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 *  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 *  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 *  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 *  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 *  Project Management Contact:
 *
 *  Oleg Liber
 *  Bolton Institute of Higher Education
 *  Deane Road
 *  Bolton BL3 5AB
 *  UK
 *
 *  e-mail:   o.liber@bolton.ac.uk
 *
 *
 *  Technical Contact:
 *
 *  Phillip Beauvoir
 *  e-mail:   p.beauvoir@bolton.ac.uk
 *
 *  Web:      http://www.reload.ac.uk
 *
 *  @author Paul Sharples
 *  @version $Id: reload.css,v 1.1 2005/03/14 19:05:44 phillipus Exp $
 */
// -->

body {
	background-color: #F4F7FF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
}

#root {
	color:#000000;
	background:transparent;
	font-family:Arial, Helvetica, sans-serif;
	font-size:70%;
}

.subtext {
	color: #000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:70%;
	background:transparent;
}

a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:70%;
	text-decoration:none;
	color:#330099;
	background:transparent;
}

a:hover {
	font-weight: bold;
	color:#000000;
	background-color:#ffffff;
}

a.tracked {
	font-weight: bold;
	color:#ffffff;
	background-color:#000000;
}

a.subexpanded {
	color:#666699;
	background:transparent;
}

a.subclosed {
	color:#666699;
	background:transparent;
}

.text {
	color: #5a79ef;
	font-family:Arial, Helvetica, sans-serif;
        font-size:70%;
}

input {
	BORDER-RIGHT: #0066cc 1px solid;
	BORDER-TOP: #0066cc 1px solid;
	FONT: 10px verdana bold;
	BORDER-LEFT: #0066cc 1px solid;
	COLOR: #003399;
	BORDER-BOTTOM: #0066cc 1px solid;
	BACKGROUND-COLOR: #ffffff;
}

.buggyinput {
	BORDER-RIGHT: #def3ff 0px solid;
	BORDER-TOP: #def3ff 0px solid;
	FONT: 12px verdana bold;
	BORDER-LEFT: #def3ff 0px solid;
	COLOR: #003399;
	BORDER-BOTTOM: #def3ff 0px solid;
	BACKGROUND-COLOR: #ffffff;
}

option {
	BORDER-RIGHT: #0066cc 1px solid;
	BORDER-TOP: #0066cc 1px solid;
	FONT: 10px verdana bold;
	BORDER-LEFT: #0066cc 1px solid;
	COLOR: #003399;
	BORDER-BOTTOM: #0066cc 1px solid;
	BACKGROUND-COLOR: #ffffff;
}

select {
	BORDER-RIGHT: #0066cc 1px solid;
	BORDER-TOP: #0066cc 1px solid;
	FONT: 10px verdana bold;
	BORDER-LEFT: #0066cc 1px solid;
	COLOR: #003399;
	BORDER-BOTTOM: #0066cc 1px solid;
	BACKGROUND-COLOR: #ffffff;
}


form {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	border: 0px none;
}

textarea {
	BORDER-RIGHT: #0066cc 1px solid;
	BORDER-TOP: #0066cc 1px solid;
	FONT: 12px verdana bold;
	BORDER-LEFT: #0066cc 1px solid;
	COLOR: #003399;
	BORDER-BOTTOM: #0066cc 1px solid;
	BACKGROUND-COLOR: #ffffff;
}

.itemTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}

