/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-color: #eeeeec;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header{
	padding: 10px;
	text-align: center;
	color: #6eac2c;
	font-size: 15px;
	transform: rotate(-2deg) traslateX(0px) scale(1.5);
	-webkit-transform:rotate(-2deg) translateX(0px) scale(1.5);
	-moz-transform:rotate(-2deg) translateX(0px) scale(1.5);
}

#contain{
	width: 990px;
	height: 668px;
	margin: 10px auto;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 2px #2e3436;
}

#code{
	width: 550px;
	height: 650px;
	float: left;
	padding: 9px;
	font-size: 9pt;
	background-image: linear-gradient(#729fcf -60%, #ffffff 20%);
	background-image: -moz-linear-gradient(#729fcf -60%, #ffffff 20%);
	background-image: -webkit-linear-gradient(#729fcf -60%, #ffffff 20%);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	
}

#ask{
	width: 400px;
	height: 650px;
	float: right;
	padding: 9px;
	font-size: 9pt;
	background-image: linear-gradient(#729fcf -60%, #ffffff 20%);
	background-image: -moz-linear-gradient(#729fcf -60%, #ffffff 20%);
	background-image: -webkit-linear-gradient(#729fcf -60%, #ffffff 20%);
	background-color: #ffffff;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.draggable{
	padding: 10px;
	margin: 5px;
	padding: 5px;
	background-color: #D8E7F3;
	border-color: #a6c9e2;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	box-shadow: 5px 5px 4px 0px rgba(153,153,153,180);
	width: auto;
	height: auto;
	float: left;
	font-size: 8pt;
}

.draggable3{
	padding: 10px;
	margin: 5px;
	padding: 5px;
	background-color: #fce94f;
	border-color: #edd400;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	box-shadow: 5px 5px 4px 0px rgba(153,153,153,180);
	width: auto;
	height: auto;
	float: left;
	font-size: 8pt;
}

.draggable2:hover{
	background-color: #D8E7F3;
	border-color: #a6c9e2;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
}

.draggable2:active{
	width:auto;
	height: auto;

}

pre{
	margin: 0px;
	display: inline;
}

.niv1{
	margin: 0px;
	padding: 0px 0px 0px 15px;	
}

.niv2{
	margin: 0px;
	padding: 0px 0px 0px 30px;	
}

.niv3{
	margin: 0px;
	padding: 0px 0px 0px 45px;	
}

.niv4{
	margin: 0px;
	padding: 0px 0px 0px 60px;	
}

.drop3{
	width: 100px !important;
	height: 15px !important;
	border-color: #a6c9e2;
	border-width: 1px;
	border-style: solid;
	height: auto;
	font-size:12pt;
	display: inline-block;
	margin: 2px;
	padding: 0px 3px;
}

#code{
	font-family: "Courier New" !important;
	font-style: normal;
	padding: 9px;
}

#code pre{
	font-family: "Courier New" !important;
	font-style: normal;	
}

footer{
	width: 990px;
	margin: 10px auto;
	text-align: right;
	}

#fin{
	font-family: "Courier New" !important;
	text-align: center;
	color: #f57900;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
