p, table, tr, li, ul, ol, body, td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px}



.links	{font-family: Verdana, Arial, sans-serif;color: white;font-size:12px;}

A.links:link {color:#FFFFFF;}

A.links:visited {color:#FFFFFF;}

A.links:hover {color:#ff9900;}



A	{font-weight:bold;text-decoration:none;}

A:link {color:#0033CC;}

A:visited {color:#025999;}

A:hover	{color:#ff9900;}


.blue1 {  color: #025999}
.white {  color: #FFFFFF}

h4 {font-size: 1.2em;
padding-left: 0em;
color: #0033cc;
font-weight: bold;
text-decoration: none;}

h5 {font-size: 1.0em;
padding-left: 0em;
color: #0033cc;
font-weight: bold;
text-decoration: none;}
