<pre>
<a name="N10001"></a>&lt;!--This is a Reload version 1.2 Content Package document--&gt;<a name="N10002"></a>&lt;!--Spawned from the Reload Content Package Generator - http://www.reload.ac.uk--&gt;<a name="N10003"></a>&lt;manifest<a name="N10008"></a> identifier="MANIFEST-A48183CF-E84E-9E02-83E1-BA87C96112B4"<a name="N10009"></a> xsi:schemaLocation="http://www.imsglobal.org/xsd/imscp_v1p1 imscp_v1p1.xsd http://www.imsglobal.org/xsd/imsmd_v1p2 imsmd_v1p2p2.xsd"&gt;<a name="N1000A"></a>
  <a name="N1000B"></a>&lt;metadata&gt;<a name="N1000C"></a>
    <a name="N1000D"></a>&lt;imsmd:lom&gt;<a name="N1000E"></a>
      <a name="N1000F"></a>&lt;imsmd:general&gt;<a name="N10010"></a>
        <a name="N10011"></a>&lt;imsmd:title&gt;<a name="N10012"></a>
          <a name="N10013"></a>&lt;imsmd:langstring<a name="N10014"></a> xml:lang="en"&gt;<a name="N10015"></a>Electronics - Basic electrical relationships&lt;/imsmd:langstring&gt;<a name="N10016"></a>
        &lt;/imsmd:title&gt;<a name="N10017"></a>
        <a name="N10018"></a>&lt;imsmd:catalogentry&gt;<a name="N10019"></a>
          <a name="N1001A"></a>&lt;imsmd:catalog/&gt;<a name="N1001B"></a>
          <a name="N1001C"></a>&lt;imsmd:entry&gt;<a name="N1001D"></a>
            <a name="N1001E"></a>&lt;imsmd:langstring<a name="N1001F"></a> xml:lang="en"/&gt;<a name="N10020"></a>
          &lt;/imsmd:entry&gt;<a name="N10021"></a>
        &lt;/imsmd:catalogentry&gt;<a name="N10022"></a>
        <a name="N10023"></a>&lt;imsmd:language&gt;<a name="N10024"></a>en&lt;/imsmd:language&gt;<a name="N10025"></a>
        <a name="N10026"></a>&lt;imsmd:description&gt;<a name="N10027"></a>
          <a name="N10028"></a>&lt;imsmd:langstring<a name="N10029"></a> xml:lang="en"&gt;<a name="N1002A"></a>This course is.....&lt;/imsmd:langstring&gt;<a name="N1002B"></a>
        &lt;/imsmd:description&gt;<a name="N1002C"></a>
        <a name="N1002D"></a>&lt;imsmd:keyword&gt;<a name="N1002E"></a>
          <a name="N1002F"></a>&lt;imsmd:langstring<a name="N10030"></a> xml:lang="en"&gt;<a name="N10031"></a>electronics&lt;/imsmd:langstring&gt;<a name="N10032"></a>
        &lt;/imsmd:keyword&gt;<a name="N10033"></a>
        <a name="N10034"></a>&lt;imsmd:keyword&gt;<a name="N10035"></a>
          <a name="N10036"></a>&lt;imsmd:langstring<a name="N10037"></a> xml:lang="en"&gt;<a name="N10038"></a>voltage&lt;/imsmd:langstring&gt;<a name="N10039"></a>
        &lt;/imsmd:keyword&gt;<a name="N1003A"></a>
      &lt;/imsmd:general&gt;<a name="N1003B"></a>
      <a name="N1003C"></a>&lt;imsmd:lifecycle&gt;<a name="N1003D"></a>
        <a name="N1003E"></a>&lt;imsmd:contribute&gt;<a name="N1003F"></a>
          <a name="N10040"></a>&lt;imsmd:role&gt;<a name="N10041"></a>
            <a name="N10042"></a>&lt;imsmd:source&gt;<a name="N10043"></a>
              <a name="N10044"></a>&lt;imsmd:langstring<a name="N10045"></a> xml:lang="en"&gt;<a name="N10046"></a>LOMv1.0&lt;/imsmd:langstring&gt;<a name="N10047"></a>
            &lt;/imsmd:source&gt;<a name="N10048"></a>
            <a name="N10049"></a>&lt;imsmd:value&gt;<a name="N1004A"></a>
              <a name="N1004B"></a>&lt;imsmd:langstring<a name="N1004C"></a> xml:lang="x-none"&gt;<a name="N1004D"></a>Content Provider&lt;/imsmd:langstring&gt;<a name="N1004E"></a>
            &lt;/imsmd:value&gt;<a name="N1004F"></a>
          &lt;/imsmd:role&gt;<a name="N10050"></a>
          <a name="N10051"></a>&lt;imsmd:centity&gt;<a name="N10052"></a>
            <a name="N10053"></a>&lt;imsmd:vcard&gt;<a name="N10054"></a>Bolton Institute&lt;/imsmd:vcard&gt;<a name="N10055"></a>
          &lt;/imsmd:centity&gt;<a name="N10056"></a>
          <a name="N10057"></a>&lt;imsmd:date&gt;<a name="N10058"></a>
            <a name="N10059"></a>&lt;imsmd:datetime/&gt;<a name="N1005A"></a>
          &lt;/imsmd:date&gt;<a name="N1005B"></a>
        &lt;/imsmd:contribute&gt;<a name="N1005C"></a>
      &lt;/imsmd:lifecycle&gt;<a name="N1005D"></a>
      <a name="N1005E"></a>&lt;imsmd:educational&gt;<a name="N1005F"></a>
        <a name="N10060"></a>&lt;imsmd:difficulty&gt;<a name="N10061"></a>
          <a name="N10062"></a>&lt;imsmd:source&gt;<a name="N10063"></a>
            <a name="N10064"></a>&lt;imsmd:langstring<a name="N10065"></a> xml:lang="en"&gt;<a name="N10066"></a>LOMv1.0&lt;/imsmd:langstring&gt;<a name="N10067"></a>
          &lt;/imsmd:source&gt;<a name="N10068"></a>
          <a name="N10069"></a>&lt;imsmd:value&gt;<a name="N1006A"></a>
            <a name="N1006B"></a>&lt;imsmd:langstring<a name="N1006C"></a> xml:lang="x-none"/&gt;<a name="N1006D"></a>
          &lt;/imsmd:value&gt;<a name="N1006E"></a>
        &lt;/imsmd:difficulty&gt;<a name="N1006F"></a>
      &lt;/imsmd:educational&gt;<a name="N10070"></a>
      <a name="N10071"></a>&lt;imsmd:rights&gt;<a name="N10072"></a>
        <a name="N10073"></a>&lt;imsmd:cost&gt;<a name="N10074"></a>
          <a name="N10075"></a>&lt;imsmd:source&gt;<a name="N10076"></a>
            <a name="N10077"></a>&lt;imsmd:langstring<a name="N10078"></a> xml:lang="en"&gt;<a name="N10079"></a>LOMv1.0&lt;/imsmd:langstring&gt;<a name="N1007A"></a>
          &lt;/imsmd:source&gt;<a name="N1007B"></a>
          <a name="N1007C"></a>&lt;imsmd:value&gt;<a name="N1007D"></a>
            <a name="N1007E"></a>&lt;imsmd:langstring<a name="N1007F"></a> xml:lang="x-none"&gt;<a name="N10080"></a>maybe&lt;/imsmd:langstring&gt;<a name="N10081"></a>
          &lt;/imsmd:value&gt;<a name="N10082"></a>
        &lt;/imsmd:cost&gt;<a name="N10083"></a>
      &lt;/imsmd:rights&gt;<a name="N10084"></a>
    &lt;/imsmd:lom&gt;<a name="N10085"></a>
  &lt;/metadata&gt;<a name="N10086"></a>
  <a name="N10087"></a>&lt;organizations<a name="N10088"></a> default="ORG-F511515A-915F-A23C-C734-7A536152FC38"&gt;<a name="N10089"></a>
    <a name="N1008A"></a>&lt;organization<a name="N1008B"></a> identifier="ORG-F511515A-915F-A23C-C734-7A536152FC38"<a name="N1008C"></a> structure="hierarchical"&gt;<a name="N1008D"></a>
      <a name="N1008E"></a>&lt;title&gt;<a name="N1008F"></a>Basic Electrical Relationships&lt;/title&gt;<a name="N10090"></a>
      <a name="N10091"></a>&lt;item<a name="N10092"></a> identifier="ITEM-FAC749AD-5EE7-12DA-F47E-4244D4174EC0"<a name="N10093"></a> isvisible="true"&gt;<a name="N10094"></a>
        <a name="N10095"></a>&lt;title&gt;<a name="N10096"></a>Basic units&lt;/title&gt;<a name="N10097"></a>
        <a name="N10098"></a>&lt;item<a name="N10099"></a> identifier="ITEM-AAED1C72-7276-59C4-00B2-CE3DEA074943"<a name="N1009A"></a> isvisible="true"<a name="N1009B"></a> identifierref="RES-5A9277EA-471A-7230-501F-7F2D8F07A7D4"&gt;<a name="N1009C"></a>
          <a name="N1009D"></a>&lt;title&gt;<a name="N1009E"></a>Introduction&lt;/title&gt;<a name="N1009F"></a>
        &lt;/item&gt;<a name="N100A0"></a>
        <a name="N100A1"></a>&lt;item<a name="N100A2"></a> identifier="ITEM-ABEF194F-973C-41C7-3F60-4A6FC2E0AC76"<a name="N100A3"></a> isvisible="true"<a name="N100A4"></a> identifierref="RES-4CBA009F-DAB7-E845-4D17-542102BDD95A"&gt;<a name="N100A5"></a>
          <a name="N100A6"></a>&lt;title&gt;<a name="N100A7"></a>Charge and conduction&lt;/title&gt;<a name="N100A8"></a>
        &lt;/item&gt;<a name="N100A9"></a>
        <a name="N100AA"></a>&lt;item<a name="N100AB"></a> identifier="ITEM-29113A9C-0559-F125-B58F-29A0E4201419"<a name="N100AC"></a> isvisible="true"<a name="N100AD"></a> identifierref="RES-3E6AB50A-B686-8124-AA2F-157B9F045BB3"&gt;<a name="N100AE"></a>
          <a name="N100AF"></a>&lt;title&gt;<a name="N100B0"></a>Voltage&lt;/title&gt;<a name="N100B1"></a>
        &lt;/item&gt;<a name="N100B2"></a>
        <a name="N100B3"></a>&lt;item<a name="N100B4"></a> identifier="ITEM-CDAFE54C-2E0E-9157-9B11-838673BEC475"<a name="N100B5"></a> isvisible="true"<a name="N100B6"></a> identifierref="RES-B2EB9B7B-A628-989D-8A9C-E57634970496"&gt;<a name="N100B7"></a>
          <a name="N100B8"></a>&lt;title&gt;<a name="N100B9"></a>Energy&lt;/title&gt;<a name="N100BA"></a>
        &lt;/item&gt;<a name="N100BB"></a>
        <a name="N100BC"></a>&lt;item<a name="N100BD"></a> identifier="ITEM-3F1DF772-ABA5-539C-368A-A5ACB0D1977D"<a name="N100BE"></a> isvisible="true"<a name="N100BF"></a> identifierref="RES-AE12E76F-EE25-82DE-3810-4D61FC2963F6"&gt;<a name="N100C0"></a>
          <a name="N100C1"></a>&lt;title&gt;<a name="N100C2"></a>Current&lt;/title&gt;<a name="N100C3"></a>
        &lt;/item&gt;<a name="N100C4"></a>
        <a name="N100C5"></a>&lt;item<a name="N100C6"></a> identifier="ITEM-379BA008-13BF-B7AE-A948-63A94F53EB80"<a name="N100C7"></a> isvisible="true"<a name="N100C8"></a> identifierref="RES-A36D3D1C-29E4-A29B-9908-E64D2491B2F4"&gt;<a name="N100C9"></a>
          <a name="N100CA"></a>&lt;title&gt;<a name="N100CB"></a>Power&lt;/title&gt;<a name="N100CC"></a>
        &lt;/item&gt;<a name="N100CD"></a>
        <a name="N100CE"></a>&lt;item<a name="N100CF"></a> identifier="ITEM-D7088BDD-BF40-48D2-0110-9D4CC5A4DD84"<a name="N100D0"></a> isvisible="true"<a name="N100D1"></a> identifierref="RES-8E2A2EE7-0DB3-80AD-4703-B09923A166E4"&gt;<a name="N100D2"></a>
          <a name="N100D3"></a>&lt;title&gt;<a name="N100D4"></a>Resistance&lt;/title&gt;<a name="N100D5"></a>
          <a name="N100D6"></a>&lt;item<a name="N100D7"></a> identifier="ITEM-7A8C957B-E263-B211-2C22-4E43A49DC0EF"<a name="N100D8"></a> isvisible="true"<a name="N100D9"></a> identifierref="RES-C725BD6C-0E09-D2F2-6D96-10747844449F"&gt;<a name="N100DA"></a>
            <a name="N100DB"></a>&lt;title&gt;<a name="N100DC"></a>Ohm's Law Interface&lt;/title&gt;<a name="N100DD"></a>
          &lt;/item&gt;<a name="N100DE"></a>
        &lt;/item&gt;<a name="N100DF"></a>
      &lt;/item&gt;<a name="N100E0"></a>
      <a name="N100E1"></a>&lt;item<a name="N100E2"></a> identifier="ITEM-BD67AD0B-4FAA-8206-ADB6-5E1BFF586EB3"<a name="N100E3"></a> isvisible="true"<a name="N100E4"></a> identifierref="RES-A52E9F8C-8F19-EFEB-61A5-5204CF1D806D"&gt;<a name="N100E5"></a>
        <a name="N100E6"></a>&lt;title&gt;<a name="N100E7"></a>A simple analogy&lt;/title&gt;<a name="N100E8"></a>
      &lt;/item&gt;<a name="N100E9"></a>
      <a name="N100EA"></a>&lt;item<a name="N100EB"></a> identifier="ITEM-E7A2E6B3-B4C0-E00E-BDA9-D57E48C612C6"<a name="N100EC"></a> isvisible="true"<a name="N100ED"></a> identifierref="RES-2B52C0D4-7D2B-DE01-618F-2E94E607107A"&gt;<a name="N100EE"></a>
        <a name="N100EF"></a>&lt;title&gt;<a name="N100F0"></a>A simple circuit&lt;/title&gt;<a name="N100F1"></a>
      &lt;/item&gt;<a name="N100F2"></a>
      <a name="N100F3"></a>&lt;item<a name="N100F4"></a> identifier="ITEM-174562A1-74C7-2956-CEB4-F3D279846BA1"<a name="N100F5"></a> isvisible="true"&gt;<a name="N100F6"></a>
        <a name="N100F7"></a>&lt;title&gt;<a name="N100F8"></a>Kirchoff's Laws&lt;/title&gt;<a name="N100F9"></a>
        <a name="N100FA"></a>&lt;item<a name="N100FB"></a> identifier="ITEM-AF238B01-B9C0-7971-C031-06BEAC407E52"<a name="N100FC"></a> isvisible="true"<a name="N100FD"></a> identifierref="RES-41AE36A7-38CD-8568-2F06-87AA532BA06B"&gt;<a name="N100FE"></a>
          <a name="N100FF"></a>&lt;title&gt;<a name="N10100"></a>Kirchoff's Current Law&lt;/title&gt;<a name="N10101"></a>
        &lt;/item&gt;<a name="N10102"></a>
        <a name="N10103"></a>&lt;item<a name="N10104"></a> identifier="ITEM-C4F4393E-2E50-AB47-423B-D469682F5556"<a name="N10105"></a> isvisible="true"<a name="N10106"></a> identifierref="RES-C2F388B7-9EC7-DCC5-0BC3-016EBEC0F140"&gt;<a name="N10107"></a>
          <a name="N10108"></a>&lt;title&gt;<a name="N10109"></a>Kirchoff's Voltage Law&lt;/title&gt;<a name="N1010A"></a>
        &lt;/item&gt;<a name="N1010B"></a>
      &lt;/item&gt;<a name="N1010C"></a>
      <a name="N1010D"></a>&lt;item<a name="N1010E"></a> identifier="ITEM-F5EE6C1C-C612-56FF-3416-61A64C52035A"<a name="N1010F"></a> isvisible="true"<a name="N10110"></a> identifierref="RES-CB27D423-2C90-917A-F03E-C53555E57477"&gt;<a name="N10111"></a>
        <a name="N10112"></a>&lt;title&gt;<a name="N10113"></a>Conclusion&lt;/title&gt;<a name="N10114"></a>
      &lt;/item&gt;<a name="N10115"></a>
    &lt;/organization&gt;<a name="N10116"></a>
  &lt;/organizations&gt;<a name="N10117"></a>
  <a name="N10118"></a>&lt;resources&gt;<a name="N10119"></a>
    <a name="N1011A"></a>&lt;resource<a name="N1011B"></a> identifier="RES-5A9277EA-471A-7230-501F-7F2D8F07A7D4"<a name="N1011C"></a> type="webcontent"<a name="N1011D"></a> href="ber/intro.html"&gt;<a name="N1011E"></a>
      <a name="N1011F"></a>&lt;metadata&gt;<a name="N10120"></a>
        <a name="N10121"></a>&lt;imsmd:lom&gt;<a name="N10122"></a>
          <a name="N10123"></a>&lt;imsmd:general&gt;<a name="N10124"></a>
            <a name="N10125"></a>&lt;imsmd:identifier/&gt;<a name="N10126"></a>
            <a name="N10127"></a>&lt;imsmd:title&gt;<a name="N10128"></a>
              <a name="N10129"></a>&lt;imsmd:langstring<a name="N1012A"></a> xml:lang="en"&gt;<a name="N1012B"></a>cvbhvc&lt;/imsmd:langstring&gt;<a name="N1012C"></a>
            &lt;/imsmd:title&gt;<a name="N1012D"></a>
          &lt;/imsmd:general&gt;<a name="N1012E"></a>
        &lt;/imsmd:lom&gt;<a name="N1012F"></a>
      &lt;/metadata&gt;<a name="N10130"></a>
      <a name="N10131"></a>&lt;file<a name="N10132"></a> href="ber/intro.html"/&gt;<a name="N10133"></a>
      <a name="N10134"></a>&lt;file<a name="N10135"></a> href="electronics.css"/&gt;<a name="N10136"></a>
    &lt;/resource&gt;<a name="N10137"></a>
    <a name="N10138"></a>&lt;resource<a name="N10139"></a> identifier="RES-8E2A2EE7-0DB3-80AD-4703-B09923A166E4"<a name="N1013A"></a> type="webcontent"<a name="N1013B"></a> href="ber/bu_07.html"&gt;<a name="N1013C"></a>
      <a name="N1013D"></a>&lt;file<a name="N1013E"></a> href="ber/bu_07.html"/&gt;<a name="N1013F"></a>
      <a name="N10140"></a>&lt;file<a name="N10141"></a> href="ber/images/eqnb.gif"/&gt;<a name="N10142"></a>
      <a name="N10143"></a>&lt;file<a name="N10144"></a> href="ber/images/eqnc.gif"/&gt;<a name="N10145"></a>
      <a name="N10146"></a>&lt;file<a name="N10147"></a> href="electronics.css"/&gt;<a name="N10148"></a>
    &lt;/resource&gt;<a name="N10149"></a>
    <a name="N1014A"></a>&lt;resource<a name="N1014B"></a> identifier="RES-A36D3D1C-29E4-A29B-9908-E64D2491B2F4"<a name="N1014C"></a> type="webcontent"<a name="N1014D"></a> href="ber/bu_06.html"&gt;<a name="N1014E"></a>
      <a name="N1014F"></a>&lt;file<a name="N10150"></a> href="ber/bu_06.html"/&gt;<a name="N10151"></a>
      <a name="N10152"></a>&lt;file<a name="N10153"></a> href="ber/images/eqna.gif"/&gt;<a name="N10154"></a>
      <a name="N10155"></a>&lt;file<a name="N10156"></a> href="electronics.css"/&gt;<a name="N10157"></a>
    &lt;/resource&gt;<a name="N10158"></a>
    <a name="N10159"></a>&lt;resource<a name="N1015A"></a> identifier="RES-AE12E76F-EE25-82DE-3810-4D61FC2963F6"<a name="N1015B"></a> type="webcontent"<a name="N1015C"></a> href="ber/bu_05.html"&gt;<a name="N1015D"></a>
      <a name="N1015E"></a>&lt;file<a name="N1015F"></a> href="ber/bu_05.html"/&gt;<a name="N10160"></a>
      <a name="N10161"></a>&lt;file<a name="N10162"></a> href="electronics.css"/&gt;<a name="N10163"></a>
    &lt;/resource&gt;<a name="N10164"></a>
    <a name="N10165"></a>&lt;resource<a name="N10166"></a> identifier="RES-B2EB9B7B-A628-989D-8A9C-E57634970496"<a name="N10167"></a> type="webcontent"<a name="N10168"></a> href="ber/bu_04.html"&gt;<a name="N10169"></a>
      <a name="N1016A"></a>&lt;file<a name="N1016B"></a> href="ber/bu_04.html"/&gt;<a name="N1016C"></a>
      <a name="N1016D"></a>&lt;file<a name="N1016E"></a> href="electronics.css"/&gt;<a name="N1016F"></a>
    &lt;/resource&gt;<a name="N10170"></a>
    <a name="N10171"></a>&lt;resource<a name="N10172"></a> identifier="RES-3E6AB50A-B686-8124-AA2F-157B9F045BB3"<a name="N10173"></a> type="webcontent"<a name="N10174"></a> href="ber/bu_03.html"&gt;<a name="N10175"></a>
      <a name="N10176"></a>&lt;file<a name="N10177"></a> href="ber/bu_03.html"/&gt;<a name="N10178"></a>
      <a name="N10179"></a>&lt;file<a name="N1017A"></a> href="ber/images/voltage.swf"/&gt;<a name="N1017B"></a>
      <a name="N1017C"></a>&lt;file<a name="N1017D"></a> href="electronics.css"/&gt;<a name="N1017E"></a>
    &lt;/resource&gt;<a name="N1017F"></a>
    <a name="N10180"></a>&lt;resource<a name="N10181"></a> identifier="RES-4CBA009F-DAB7-E845-4D17-542102BDD95A"<a name="N10182"></a> type="webcontent"<a name="N10183"></a> href="ber/bu_02.html"&gt;<a name="N10184"></a>
      <a name="N10185"></a>&lt;file<a name="N10186"></a> href="ber/bu_02.html"/&gt;<a name="N10187"></a>
      <a name="N10188"></a>&lt;file<a name="N10189"></a> href="electronics.css"/&gt;<a name="N1018A"></a>
    &lt;/resource&gt;<a name="N1018B"></a>
    <a name="N1018C"></a>&lt;resource<a name="N1018D"></a> identifier="RES-A52E9F8C-8F19-EFEB-61A5-5204CF1D806D"<a name="N1018E"></a> type="webcontent"<a name="N1018F"></a> href="ber/sa.html"&gt;<a name="N10190"></a>
      <a name="N10191"></a>&lt;file<a name="N10192"></a> href="ber/sa.html"/&gt;<a name="N10193"></a>
      <a name="N10194"></a>&lt;file<a name="N10195"></a> href="ber/images/ber02.gif"/&gt;<a name="N10196"></a>
      <a name="N10197"></a>&lt;file<a name="N10198"></a> href="electronics.css"/&gt;<a name="N10199"></a>
    &lt;/resource&gt;<a name="N1019A"></a>
    <a name="N1019B"></a>&lt;resource<a name="N1019C"></a> identifier="RES-2B52C0D4-7D2B-DE01-618F-2E94E607107A"<a name="N1019D"></a> type="webcontent"<a name="N1019E"></a> href="ber/sc.html"&gt;<a name="N1019F"></a>
      <a name="N101A0"></a>&lt;file<a name="N101A1"></a> href="ber/sc.html"/&gt;<a name="N101A2"></a>
      <a name="N101A3"></a>&lt;file<a name="N101A4"></a> href="electronics.css"/&gt;<a name="N101A5"></a>
    &lt;/resource&gt;<a name="N101A6"></a>
    <a name="N101A7"></a>&lt;resource<a name="N101A8"></a> identifier="RES-41AE36A7-38CD-8568-2F06-87AA532BA06B"<a name="N101A9"></a> type="webcontent"<a name="N101AA"></a> href="ber/kcl.html"&gt;<a name="N101AB"></a>
      <a name="N101AC"></a>&lt;file<a name="N101AD"></a> href="ber/kcl.html"/&gt;<a name="N101AE"></a>
      <a name="N101AF"></a>&lt;file<a name="N101B0"></a> href="ber/images/kl02.gif"/&gt;<a name="N101B1"></a>
      <a name="N101B2"></a>&lt;file<a name="N101B3"></a> href="electronics.css"/&gt;<a name="N101B4"></a>
    &lt;/resource&gt;<a name="N101B5"></a>
    <a name="N101B6"></a>&lt;resource<a name="N101B7"></a> identifier="RES-C2F388B7-9EC7-DCC5-0BC3-016EBEC0F140"<a name="N101B8"></a> type="webcontent"<a name="N101B9"></a> href="ber/kvl.html"&gt;<a name="N101BA"></a>
      <a name="N101BB"></a>&lt;file<a name="N101BC"></a> href="ber/kvl.html"/&gt;<a name="N101BD"></a>
      <a name="N101BE"></a>&lt;file<a name="N101BF"></a> href="ber/images/ber03.gif"/&gt;<a name="N101C0"></a>
      <a name="N101C1"></a>&lt;file<a name="N101C2"></a> href="ber/images/kl01.gif"/&gt;<a name="N101C3"></a>
      <a name="N101C4"></a>&lt;file<a name="N101C5"></a> href="electronics.css"/&gt;<a name="N101C6"></a>
    &lt;/resource&gt;<a name="N101C7"></a>
    <a name="N101C8"></a>&lt;resource<a name="N101C9"></a> identifier="RES-CB27D423-2C90-917A-F03E-C53555E57477"<a name="N101CA"></a> type="webcontent"<a name="N101CB"></a> href="ber/concl.html"&gt;<a name="N101CC"></a>
      <a name="N101CD"></a>&lt;file<a name="N101CE"></a> href="ber/concl.html"/&gt;<a name="N101CF"></a>
      <a name="N101D0"></a>&lt;file<a name="N101D1"></a> href="electronics.css"/&gt;<a name="N101D2"></a>
    &lt;/resource&gt;<a name="N101D3"></a>
    <a name="N101D4"></a>&lt;resource<a name="N101D5"></a> identifier="RES-C725BD6C-0E09-D2F2-6D96-10747844449F"<a name="N101D6"></a> type="webcontent"<a name="N101D7"></a> href="OhmsLawInterface2/ohmsLawMD.html"&gt;<a name="N101D8"></a>
      <a name="N101D9"></a>&lt;file<a name="N101DA"></a> href="OhmsLawInterface2/ohmsLawMD.html"/&gt;<a name="N101DB"></a>
      <a name="N101DC"></a>&lt;file<a name="N101DD"></a> href="OhmsLawInterface2/images/jspowered.gif"/&gt;<a name="N101DE"></a>
    &lt;/resource&gt;<a name="N101DF"></a>
  &lt;/resources&gt;<a name="N101E0"></a>
&lt;/manifest&gt;</pre>
